{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Packages" %}
{% block subheadline "Packages" %}

{% block submenu %}
	{% include 'RestooMainBundle:Package:submenu.html.twig' %}
{% endblock %}

{% block content %}
	<form action="{{ path('package_new') }}" method="post">
    	{{ form_widget(form) }}

    	<input type="submit" />
	</form>
{% endblock %}