{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Package show" %}
{% block subheadline "Package show" %}

{% block submenu %}
	{% include 'RestooMainBundle:Package:submenu.html.twig' %}
{% endblock %}

{% block content %}
<div class="box">
	<h2><a href="#" id="toggle-forms">Show Package</a></h2>
	<div class="block" id="forms">
		<table>
			<thead>
				<tr>
					<th colspan="2" class="table-head">Properties</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Title</th>
					<td>{{ package.title }}</td>
				</tr>
				<tr>
					<th>Interval</th>
					<td>{{ package.startDate|interval( package.endDate ) }}</td>
				</tr>
			</tbody>
		</table>

		{% include "RestooMainBundle:Job:table.html.twig" with { 'jobs': package.jobs, 'headline': 'Jobs' } %}
		
	</div>
</div>
{% endblock %}
