<h2><a href="#" id="toggle-section-menu">Actions</a></h2>
<div id="section-menu">
	<ul class="section menu">
 		<li><a href="{{ path('package') }}">List Packages</a></li>
 		<li><a href="{{ path('package_new') }}">Add Package</a></li>
	</ul>
</div>