{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "New Job" %}
{% block subheadline "New Job" %}

{% block submenu %}
	{% include 'RestooMainBundle:Job:submenu.html.twig' %}
{% endblock %}

{% block content %}
	
	<form action="{{ formAction }}" method="post">
    	{{ form_widget(form) }}

    	<input type="submit" />
	</form>
	
	

{% endblock %}