{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Job Overview" %}
{% block subheadline "Job Overview" %}

{% block content %}
	<table>
	<tr>
		<th>Alias</th>
		<th>Title</th>
		<th>Reporter</th>
	</tr>
	{% for job in jobs %}
		<tr>
			<td><a href="{{ path( 'jobShow', { 'id': job.id } ) }}">{{ job.alias }}</td>
			<td>{{ job.title }}</td>
			<td>{{ job.reporter }}</td>
			
		</tr>
	{% else %}	
		<tr>
			<td colspan="3">No jobs found</td>
		</tr>
	{% endfor %}
	
	</table>

{% endblock %}