{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "New Job" %}
{% block subheadline "New Job" %}

{% block content %}
	
	<form action="{{ path('jobNew') }}" method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}

    	<input type="submit" />
	</form>
	
	

{% endblock %}