{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Job" %}

{% block submenu %}
	{% include 'RestooMainBundle:Job:submenu.html.twig' %}
{% endblock %}

{% block content %}
	<h2>Job: {{job.alias}} | {{job.title}} </h2>
	
	
	<div>
		<a href="{{ path('job_delete', { 'id': job.id } ) }}">delete job</a>
	</div>
{% endblock %}