{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Job" %}

{% block content %}
	<h2>Job: {{job.alias}} | {{job.title}} </h2>
	
	
	<div>
		<a href="{{ path('jobDelete', { 'id': job.id } ) }}">delete job</a>
	</div>
{% endblock %}