<h2><a href="#" id="toggle-section-menu">Actions</a></h2>
<div id="section-menu">
	<ul class="section menu">
 		<li><a href="{{ path('job') }}">List Jobs</a></li>
 		<li><a href="{{ path('job_new') }}">Add Job</a></li>
	</ul>
</div>