{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Login" %}

{% block content %}

<div class="block" id="forms">
    <form action="{{ path('loginCheck') }}" method="post">
    <fieldset class="login">
        <legend>Login</legend>
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}
        <p>
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </p>
        <p>
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />
        </p>
        <input type="submit" name="login" />
    </fieldset>
    <input type="hidden" name="_target_path" value="/" />
    </form>
</div>

{% endblock %}