{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Administration: Edit Team" %}
{% block subheadline "Administration: Edit Team" %}

{% block submenu %}
	{% include 'RestooMainBundle:Admin/Team:submenu.html.twig' %}
{% endblock %}

{% block content %}
	<form action="" method="post" >
	    {{ form_widget(form) }}
	
	    <input type="submit" />
	</form>    
{% endblock %}

{% block sidebar %}
	###HELP###
{% endblock %}	
