<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %} - restoo Admin</title>
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
	
		<div id="header">
			<h1><a href="{{ path('admin') }}">restoo-Admin</a></h1>
		</div>
	
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		
		<div id="footer">
		</div>
    </body>
</html>